@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root {
    --ff-main: Roboto, sans-serif;
    --color-main: #f3c0c3;
    --color-body: #f5f5f5;
    --color-strong: #000000;
    --color-p1: #f3f2c0;
    --color-p2: #a2e5ff;
}

body {
    font-family: var(--ff-main);
    background-color: var(--color-body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: grid;
    /* grid-template-columns: 15% 82% 15%; */
    gap: 5%;
}

.side {
    border: 0.3em ridge var(--color-strong);
}

.p1 {
    background-color: var(--color-p1);
}

.p2 {
    background-color: var(--color-p2);
}

.player {
    text-align: center;
}

.score {
    text-align: center;
}

#container {
    display: grid;
    grid-template-rows: 12vw 12vw 12vw;
    grid-template-columns: 12vw 12vw 12vw;
    gap: 0.5vw;
}

.square {
    background-color: var(--color-main);
    border: 0.3em ridge var(--color-strong);
    cursor: pointer;
}

.square:active {
    background-color: var(--color-strong);
    cursor: default;
}

.turned-on {
    opacity: 0.9;
}

.player-status {
    text-align: center;
}