@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

:root {
    --ff-main: Roboto, sans-serif;
    --color-main: #f3c0c3;
    --color-body: #f5f5f5;
    --color-strong: #1a1a1a;
}

#main {
    display: grid;
    grid-template-columns: 15% 45% 15%;
    gap: 5%;
}

.side {
    border: 0.3em ridge var(--color-strong);
}

.player {
    text-align: center;
}

.score {
    text-align: center;
}

body {
    font-family: var(--ff-main);
    background-color: var(--color-body);
}

#container {
    display: grid;
    grid-template-rows: 15vw 15vw 15vw;
    grid-template-columns: 15vw 15vw 15vw;
}

.square {
    background-color: var(--color-main);
    border: 0.3em ridge var(--color-strong);
    cursor: pointer;
}

.square:active {
    background-color: var(--color-strong);
    cursor: default;
}

.O {
    position: relative;
    opacity: 0;
}

.X {
    position: relative;
    bottom: 100%;
    opacity: 0;
}

.turned-on {
    opacity: 1;
}